@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter', sans-serif;
  @apply bg-ivc-light text-ivc-dark;
}

.glass-panel {
  @apply bg-white bg-opacity-70 backdrop-blur-lg border border-white border-opacity-40 shadow-xl rounded-2xl;
}

@keyframes marquee {
  0% { transform: translateX(100%); }
  100% { transform: translateX(-100%); }
}

.animate-marquee {
  animation: marquee 20s linear infinite;
}
